/*VARIABLES COLORS */
/*VARIABLES BUTTONS*/
/*@MIXIN 4 BUTTONS*/
/* HIDE SECTION (HELPER TO BUILD WEBSITE)*/
.hideThis {
  display: none; }

/* SMALL RESET*/
body, ul {
  margin: 0;
  padding: 0; }

/*GERNERAL LAYOUT*/
body {
  background-color: #f2f1f1;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase; }
  body .wrap {
    text-align: center;
    margin: 0 auto; }
  body h1 {
    color: rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
    font-size: 1.2em;
    margin-top: 80px;
    margin-bottom: 40px;
    font-weight: 900; }

/*STYLES SHARED AMONG EACH SECTION */
section {
  margin-top: 50px;
  /*STYLING PLACERHOLDER*/ }
  section img {
    max-width: 30%;
    margin: 0 10px;
    margin-bottom: 60px; }
  section input {
    display: block;
    margin: 0 auto;
    width: 65%;
    border: none;
    background: white;
    border-radius: 10px;
    border-top: 4px solid #b5b5b4;
    min-height: 50px; }
  section ::-webkit-input-placeholder {
    font-size: 2em;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    text-align: center; }
  section :-moz-placeholder {
    /* Firefox 18- */
    font-size: 2em;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    text-align: center; }
  section ::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 2em;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    text-align: center; }
  section :-ms-input-placeholder {
    font-size: 2em;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    text-align: center; }
  section .btn-group {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0; }
  section button {
    border: 0;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    font-weight: 900;
    color: white;
    display: block;
    width: 65%;
    margin: 10px auto;
    line-height: 1.6em; }
    section button.redBtn {
      border-radius: 10px;
      border-bottom: 4px solid;
      min-height: 50px;
      background-color: #e62423;
      border-color: #9d1b20; }
    section button.blueBtn {
      border-radius: 10px;
      border-bottom: 4px solid;
      min-height: 50px;
      background-color: #3f55af;
      border-color: #284083; }
    section button.greenBtn {
      border-radius: 10px;
      border-bottom: 4px solid;
      min-height: 50px;
      background-color: #18ae60;
      border-color: #246e36; }
    section button.lightBlueBtn {
      border-radius: 10px;
      border-bottom: 4px solid;
      min-height: 50px;
      background-color: #50ade5;
      border-color: #3c86ad; }

/* #PARK HERE DISC*/
#park-here-disc time {
  display: block;
  font-size: 2.5em;
  text-align: center;
  font-weight: bold;
  font-family: 'Lato', sans-serif; }

/* #PARK HERE NOTES */
#park-here-notes h1 {
  font-family: 'Lato' sans-serif;
  font-size: 2.0em;
  margin-top: 10px; }
#park-here-notes textarea {
  border: 0;
  background: white;
  border-radius: 10px;
  border-top: 4px solid #b5b5b4;
  min-height: 50px;
  width: 70%;
  min-height: 180px;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6);
  padding: 5px; }

/* #MAIN SCREEN PARKED */
#main-screen-parked {
  margin: 0; }
  #main-screen-parked h1 {
    padding: 0;
    margin: 0;
    margin-bottom: 15px; }
  #main-screen-parked span time {
    font-size: 2em;
    color: #C01A2C;
    font-weight: bold;
    padding: 0 0 0 50px;
    background-image: url("../images/img_disc_on.png");
    background-size: 40px;
    background-repeat: no-repeat; }
  #main-screen-parked .btn-group {
    position: initial; }

/* #REPORT-CONTROLLER */
#report-controller nav {
  position: fixed;
  top: 0;
  display: block;
  width: 100%;
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold; }
  #report-controller nav span:first-child {
    position: absolute;
    top: 20px;
    left: 20px; }
  #report-controller nav span:last-child {
    position: absolute;
    top: 20px;
    right: 20px; }
#report-controller img {
  max-width: 50%;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 0; }
#report-controller .thank-you {
  text-transform: initial;
  text-align: justify;
  width: 75%;
  background: white;
  border-radius: 10px;
  border-top: 4px solid #b5b5b4;
  min-height: 50px;
  margin: 0 auto;
  border-top: 0;
  border-bottom: 4px solid;
  border-color: #b5b5b4; }
  #report-controller .thank-you p {
    padding: 15px;
    padding-top: 0; }
  #report-controller .thank-you h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: bold;
    padding-top: 10px; }
