/*VARIABLES COLORS */

$backColor:#F2F1F1;
$titleColor:rgba(0,0,0,0.6);
$btnTextColor: #FFF;

/*VARIABLES BUTTONS*/

$blueBtn:#3F55AF;
$blueBtnBorder: #284083;

$lightBlueBtn:#F2F1F1;

$greenBtn:#F2F1F1;

$redBtn:#E62423;
$redBtnBorder:#9D1B20;

$greenBtn:#18AE60;
$greenBtnBorder:#246E36;

$whiteInput:#FFF;
$whiteInputBorder:#B5B5B4;


/*@MIXIN 4 BUTTONS*/


@mixin whiteInput{
	background: $whiteInput;
	border-radius :10px;
	border-top: 4px solid $whiteInputBorder;
	min-height:50px;
}

@mixin inputPlaceholder{
	font-size:2em;
   	font-family:'Lato', sans-serif;
   	text-transform:uppercase;
   	text-align:center;
}

@mixin borderBtn{
		border-radius :10px;
		border-bottom:4px solid;
		min-height:50px;
}

/* HIDE SECTION (HELPER TO BUILD WEBSITE)*/

.hideThis{
	display:none;
}


/* SMALL RESET*/

body,ul{
	margin:0;
	padding:0;
}

/*GERNERAL LAYOUT*/
	
body{

	background-color: $backColor;
    font-family: 'Lato', sans-serif;
    text-transform:uppercase;

	section{

	margin-top:70px;

		img{
			max-width: 30%;
			margin:0 10px;
			margin-bottom: 60px;
		}

		input{
			display:block;
			margin: 0 auto;
			width: 65%;
			border: none;
			@include whiteInput;
		}

		/*STYLING PLACERHOLDER*/

		::-webkit-input-placeholder {
   			@include inputPlaceholder;

		}

		:-moz-placeholder { /* Firefox 18- */
			@include inputPlaceholder;
		}

		::-moz-placeholder {  /* Firefox 19+ */  
			@include inputPlaceholder;
		}

		:-ms-input-placeholder {   
			@include inputPlaceholder;
		}
		
		.btn-group{
			position:absolute;
			bottom:20px;
			left:0;
			right:0;
		}

		button {
			border: 0;
			text-decoration:none;
			font-family: 'Lato', sans-serif;
			font-size:1.2em;
			font-weight:800;
			color:$btnTextColor;
			display:block; // to display as exemple report controller on two lines instead of one.
			width:65%;
			margin: 10px auto;
			line-height:1.6em;

			&.redBtn,{
				@include borderBtn;
				background-color: $redBtn;
				border-color: $redBtnBorder;

			}

			&.blueBtn{
				@include borderBtn;
				background-color: $blueBtn;
				border-color: $blueBtnBorder;
			}

			&.greenBtn{
				@include borderBtn;
				background-color:$greenBtn;
				border-color: $greenBtnBorder;
			}

		}

		time{
			display:block;
			font-size:2.5em;
			text-align:center;
			font-weight:bold;
			font-family: 'Lato', sans-serif;

		}
	}

	

	.wrap{
	text-align:center;
	margin: 0 auto;

	}

    h1{
    color:$titleColor;
    text-transform:uppercase;
    font-size:1.2em;
    margin-top:80px;
    margin-bottom:40px;
    font-weight:900;


    }
}

