/*VARIABLES COLORS */

$backColor:#F2F1F1;
$titleColor:rgba(0,0,0,0.6);

/*VARIABLES BUTTONS*/

$blueBtn:#F2F1F1;
$lightBlueBtn:#F2F1F1;
$greenBtn:#F2F1F1;
$redBtn:#F2F1F1;



/*LAYOUT MOBILE*/


body{

	background-color: $backColor;
    font-family: 'Lato', sans-serif;

	section{
	margin-top:70px;
		&#main-screen-to-park{

			img{
				max-width: 45%;
			}
		}
	}

	.wrap{
	text-align:center;
	margin: 0 auto;

	}

    h1{
    color:$titleColor;
    text-transform:uppercase;
    font-size:1.4em;
    margin-top:100px;
    margin-bottom:50px;


    }
}

