/* #MAIN SCREEN PARKED */

#main-screen-parked{

    margin:0;

    h1{
        padding:0;;
        margin:15px 0;
        margin-top:35px;

        @media screen and (min-width: 360px){
            margin-bottom:25px;
        }
    }

    time{
        font-size:2em;
        color:#C01A2C;
        font-weight:bold;;
        padding: 0 0 0 50px;
        background-image:url('../images/img_disc_on.png');
        background-size:40px;
        background-repeat:no-repeat;
        display:inline-block;
        margin-bottom:27px;

        @media screen and (min-width: 360px){
            padding: 0 0 0 85px;
            font-size:3.5em;
            background-image:url('../images/img_disc_on.png');
            background-size:80px;
            margin-bottom:25px;

        }
    }

    .btn-group{
        position:initial;
    }
}