/*MAIN SCREEN_TO_PARK*/

#main-screen-to-park{

    .warning{
        display:inline-block;
        margin-bottom:10px;

        @media screen and (min-width: 360px){
            font-size:1.4em;
            margin-bottom:30px;
        }
    }
    
    .min20{
        margin-top: -20px;
    }
    
    .greyed{
        //opacity: 0.5;
    }
    
    img{
        //@include box-shadow(0px, 0px, 2px, 0px, 0.5);
    }
    
    .imgTop{
        margin-bottom: 0;
    }
    
    .imgBottom{
        margin-top: 0;
    }

}