/* #PARK HERE DISC*/

#park-here-disc,
#park-here-meter,
#park-here-red{
    time{

        display:block;
        font-size:2.5em;
        text-align:center;
        font-weight:bold;
        font-family: 'Lato', sans-serif;
        margin-bottom: 50px;
        margin-top: -5px;

        @media screen and (min-width: 360px){
            font-size:3em;
        }
    }
    
    label[for="time"]{
        margin-bottom: 50px;
    }
    
    .timeInput{
        margin-bottom: 20px;
    } 

    .confirm{
        margin-top: 40px;
    }
}