/*
Font variables
*/
//$font:'HelveticaNeueLTStd-Lt';
$font:'Lato';
//$font_ultra_light:'HelveticaNeueLT-UltraLight';

/*
Margins
*/
$default_margin:(52/640) * 100% ;
/*
Font sizes
*/
$font_size:1em;
$font_size_lg:1.2em;
$font_size_sm:0.8em;
$font_px:18px;
$font_px_sm:17px;
$font_px_x_sm:13px;
$font_px_lg:32px;
$backColor:#f2f1f1;
$titleColor:rgba(0, 0, 0, 0.6);
$redBtn:#e62423;
$redBtnBorder:#9d1b20;
$blueBtn:#3f55af;
$blueBtnBorder:#284083;
$greenBtn:#18ae60;
$greenBtnBorder:#246e36;
$lightGreenBtn:#2ECC71;
$lightGreenBtnBorder:#27AE60;
$lightBlueBtn:#50ade5;
$lightBlueBtnBorder:#3c86ad;
$btnTextColor:white;
$whiteInputBorder:#b5b5b4;